venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
.DS_Store
.idea/
*.egg-info/
.vscode/
archive/
emotion_transformer_affectnet_model/
!emotion_transformer_affectnet_model/
emotion_transformer_affectnet_model/*
!emotion_transformer_affectnet_model/*.onnx
!emotion_transformer_affectnet_model/training_checkpoints/
!emotion_transformer_affectnet_model/training_checkpoints/**
!emotion_transformer_affectnet_model/training_checkpoints/**/*.onnx
!emotion_transformer_affectnet_model/training_checkpoints/**/*.onnx
!emotion_transformer_affectnet_model/training_checkpoints/**/*.onnx
FER2013Test/
FER2013Train/
FER2013Val/